/.gradle/
/ZhihuDailyPurify/build/
/.idea/
/ZhihuDailyPurify - Version 10.iml
ShowCaseViewLibrary/build/
/ShowCaseViewLibrary/build/
ZhihuDailyAPI.md
*.iml
ZhihuDailyPurify/src/main/res/values/com_crashlytics_export_strings.xml
local.properties